[submodule "cmake/external/rpavlik-cmake-modules"]
	path = cmake/external/rpavlik-cmake-modules
	url = https://github.com/asarium/cmake-modules.git
[submodule "lib/libRocket"]
	path = lib/libRocket
	url = https://github.com/asarium/libRocket.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/filesystem"]
	path = lib/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "lib/cpp-peglib"]
	path = lib/cpp-peglib
	url = https://github.com/yhirose/cpp-peglib.git
[submodule "lib/optional"]
	path = lib/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "lib/variant"]
	path = lib/variant
	url = https://github.com/mpark/variant.git
[submodule "lib/mio"]
	path = lib/mio
	url = https://github.com/mandreyel/mio.git
[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "lib/sql-builder"]
	path = lib/sql-builder
	url = https://github.com/JackLilhammers/sql-builder.git
[submodule "lib/optick"]
	path = lib/optick
	url = https://github.com/bombomby/optick.git
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "lib/tutf8e"]
	path = lib/tutf8e
	url = https://github.com/nigels-com/tutf8e.git
